* {
	box-sizing: border-box;
	margin: 0;
}

body{background-color: #E1E3DB;}

#root {
	max-width: 100%;
	margin: 0 auto;
	background-color: #E1E3DB;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.4;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.user-home{
	display: flex;
	align-items: center;
	padding: 20px;
	flex-direction: column; 
	gap: 20px;
}


ul {
	all: unset;
	list-style: none;
}


a {
	font-weight: 500;
	color: #21221B;
	text-decoration: inherit;
}
a:hover {
	color: #787E63;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #969c80;
	margin-bottom: 15px;
	align-items: center;
}

.logo {
	height: 9em;
	padding: 1.5em;
	margin-left: 15%;
}

.user-logo{
	height: 7em;
	border-radius: 8%;
	margin-right: 6%;
}

button, select{
	border-radius: 8px;
	border: solid transparent;
	padding: 0.5em 0.8em;
	font-size: medium;
	font-weight: 500;
	font-family: inherit;
	background-color: #83896C;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	background-color: #A5AA93;
}


.articles-grid {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	padding: 20px;
	width: 80%;
	max-width: 1900px;
	gap: 20px;
	margin: 0 auto;
}

#article-card-title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 600;
	margin-bottom: 6px;
	text-align: center;
}

.article-card {
	min-width: 250px;
	width: auto;
	padding: 15px;
	border-radius: 10px;
	background-color: #DADCD2;
	transition: transform 0.2s, box-shadow 0.2s;
	text-align: center;
}

.article-card:hover {
	transform: scale(1.03);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#article-img {
	align-items: center;
	width: 250px;
	border-radius: 3%;
}


/* Single Article */

.single-article {
	width: 80%;
	max-width: 1500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
}

h2{
	margin-bottom: 10px;
	font-size: 2rem;
	text-align: center;
}

#published-topic-author{
	width: 90%;
	text-align: left;
	font-weight: 600;
}

#article-body-text {
	text-align: justify;
	font-size: large;
	width: 90%;
	margin-bottom: 40px;
}

#single-article-img {
	width: 90%;
	border-radius: 8px;
}

#comment-icon {
	padding-top: 1.7px;
	margin-right: 3px;
}

/* Comments section in single article */

.comments-all-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.comment-card {
	background-color: #BCC0AE;
	border-radius: 8px;
	display: grid;
	grid-template-columns: 2fr 1fr 12fr;
	grid-template-rows: auto 1fr auto;
	text-align: left;
	padding: 5px 15px 5px 15px;
	margin: 6px;
	width: 80%;
}


#comment-icon-in-comment {
	display: flex;
	justify-self: center;
	margin-top: 4px;
}

#trash-icon {
	grid-column: 3;
	grid-row: 2;
	justify-self: end;
  }

.author-date h4 {
	display: flex;
	flex-direction: row;
}


.back-button {
	display: inline-block;
	margin-bottom: 20px;
	margin-left: 7.5%;

}

#single-article-buttons{
	width: 90%;
	display: flex;
	flex-direction: row;
}

.vote-button-group {
	display: flex;
	flex-direction: row;
}

#upvote-button{
	border-radius: initial;
	border-radius: 8px 0 0 8px;

}
/* Number in between vote buttons */
.votes-digit-button {
	border-radius: 0;
	font-size: large;
	padding-top: 13.48px;
}
.votes-digit-button:hover {
	background-color: #83896C;
}

#downvote-button{

	border-radius: 0 8px 8px 0;
}


.see-comments-button {
	display: flex;
	align-items: center;
	font-size: large;
	margin-left: 20px;
}

.post-comment-button {
	display: flex;
	align-items: center;
	font-size: large;
	margin-left: 20px;
}

.comment-form{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#comment-form-input {
	height: auto;
	width: 81.5%;
	padding: 10px;
	min-height: 50px;
 	max-height: 250px; 
	margin-right: 1%;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	transition: border-color 0.3s;
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow-y: auto;
	resize: none;
  }
  #comment-form-input:focus {
	border-color: #C3C7B7;
	outline: none;
	box-shadow: 0 0 9px #FFFFFF;
  }


  /* Topics */

#topic-card-title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-weight: 500;
	margin-bottom: 6px;
	text-align: center;
}

.topic-card {
	display: flex;
	align-items: center;
	justify-content:center;
	gap: 40px;
	min-width: 200px;
	margin: 0 15px 15px 15px;
	padding: 25px;
	border-radius: 10px;
	background-color: #DADCD2;
	transition: transform 0.2s, box-shadow 0.2s;
}

.topic-card:hover {
	transform: scale(1.03);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#topic-img {
	width: 10%;
	border-radius: 18%;
}
#select-topic-header{
	margin-bottom: 0;
	margin-top: 30px;
}